html, body, #map {
	margin: 0;
	padding: 0;
	height: 100%;
}

/* Quick fix for leaflet google maps plugin */
.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}
